{% extends 'site01/base.html' %}
{% block body %}
<form action="{% url 'insert_authors' %}" method="post">
    {% csrf_token %}
    {{ author_form.non_field_errors }}
    {% if message %}
    <h3>{{ message }}</h3>
    <button type="submit"><a href="{{ link }}" >Insert {{ entity }}</a></button><br><br>
    {% endif %}
    <br>
    <label for="first_name">First Name:</label>
    {{ author_form.first_name }}
    {{ author_form.first_name.errors }}
    <br>
    <label for="last_name">Last Name:</label>
    {{ author_form.last_name }}
    {{ author_form.last_name.errors }}
    <br>
    <label for="email">Email:</label>
    {{ author_form.email }}
    {{ author_form.email.errors }}
    <br><br>
    <button type="submit">Submit</button>
</form>
{% endblock %}


{% block script %}
<script>
$(document).ready(function(){
$("#authors").addClass("active");

});
</script>
{% endblock %}