{% extends 'site01/base.html' %}
{% block body %}
<html>

<head>
    <h3>Welcome...  Enter details to Signup</h3>
    <br>
</head>
<form class="signup" action="{% url 'signup' %}" method="post" role="form">
    {% csrf_token %}
    <label>Name: </label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="name">
    <br>
    <br>
    <label>Email: </label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="email" name="email">
    <br>
    <br>
    <label>Phone Number:</label>
    &nbsp;&nbsp;&nbsp;
    <input type="number" name="phone">
    <br>
    <br>
    <label>Set Password: </label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="password" name="password">
    <br>
    <br>
    <label>Date of birth: </label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" name="dob">
    <br>
    <br>
    <button id="button" type="submit">Submit</button>
</form>
<style>
    #button{
        cursor: pointer;
    }
    .signup{
    font-size: 14px;
    }
</style>

</html>
{% endblock %}


